{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Charte {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block content %}
    <h1>CHARTE COLLABORATIVE</h1>
    <p>Nous insistons sur le fait que vous devez respecter les règles détaillées
        ci-dessous. Lors de votre phase d'inscription, si vous êtes d'accord avec les règles, veuillez cocher la case «<strong>
            J'ai lu les règles de la plateforme et j'accepte de les respecter</strong> » et cliquer sur le bouton « <strong>S'inscrire
        </strong>».<br>
        Les propriétaires de la plateforme <strong class="name">wildXchange</strong> n'entendent donner ni approbation, ni improbation des propos émis
        sur cette plateforme. Ils
        ne sauraient être considérés comme responsables du contenu des messages dont ils ne sont pas les auteurs.
        En acceptant ces règles, vous vous engagez à n'écrire <strong class="bold">aucun message à caractère obscène, vulgaire,
        discriminatoire, menaçant, diffamatoire, injurieux, portant atteinte au droit de la personnalité (droit au
        respect de la vie privée, droit à l’image, droit au secret professionnel), à la sécurité des personnes et des
        biens et au code de la propriété intellectuelle (piratage et intrusion dans les systèmes informatiques et de
            télécommunications) ou contraire aux lois et règlements en vigueur</strong>.<br>
        Vous autorisez les propriétaires de la plateforme à supprimer, modifier, déplacer ou fermer n'importe quel
        message pour n'importe quelle raison et sans autorisation préalable de votre part.<br>
    </p>
    <h2>Conduite à tenir sur la plateforme</h2>
    <ol>
        <li>Pas de propos tombant sous le coup de la loi (piratage, incitation à la haine raciale, révisionnisme ou
            négationnisme etc...). Respectez les droits d'auteurs et de la propriété intellectuelle.
        </li>
        <li>La courtoisie est de rigueur sur ce forum : pour tout demande bonjour et merci devraient
            être des automatismes. Vous pouvez critiquer les idées, mais pas les personnes.
        </li>
        <li>Ne sont pas autorisés les pseudos qui contiennent une adresse mail, messagerie instantanée ou web. Il vous
            est fortement déconseillé également d'utiliser ce que vous employez par ailleurs comme identifiant de
            sécurité (par exemple identifiant servant à vous connecter à votre FAI, à votre banque...).
        </li>
        <li>La participation aux discussions sur la plateforme sous de multiples pseudos est interdite.</li>
        <li>Cette plateforme est un lieu d'échange, la réponse à une question peut intéresser d'autres personnes. Ne
            demandez
            donc pas dans votre premier message une réponse en privé par mail.
        </li>
        <li>Pas de conversation privée sur la plateforme, et pas d'échanges de coordonnées privées. Le mail est fait
            pour ça.
        </li>
        <li>Ne vous appropriez pas les informations d'autrui, citez vos sources.</li>
        <li>Les doublons ne sont pas autorisés. Merci de ne pas poster le même sujet dans plusieurs rubriques pour
            éviter l'éparpillement des discussions.
        </li>
        <li>Les publicités commerciales sont interdites. Les coordonnées (professionnelles ou personnelles) doivent
            s'échanger en privé. Aucune adresse internet ni image ne sont acceptées en tant que signature.
        </li>
        <li>Les titres des questions doivent être explicites. Merci d'éviter autant que possible de dériver hors du fil
            du sujet.
        </li>
        <li>Respectez les utilisateurs de la plateforme, n'écrivez pas vos messages en style SMS ou phonétique. Evitez
            les majuscules pour attirer
            l'attention des lecteurs.
        </li>
    </ol>
    <p>Si vous rencontrez un message que vous jugez illégal ou contraire à la bonne marche de ce forum, merci de
        contacter les administrateurs par l'intermédiaire du bouton qui se trouve au niveau de chaque message. Merci de
        justifier clairement la raison de votre demande de modération.</p>

    <h2>Limites de responsabilité</h2>
        <p>L’utilisateur de la plateforme <strong class="name">wildXchange</strong> est seul responsable du contenu utilisateur (textes, images,
        opinions, ...) qu’il met en ligne sur les forums.
        L’utilisateur s’engage à ce que les contenus qu’il publie ne soient pas de nature à porter atteinte aux intérêts
        légitimes de tiers quels qu’ils soient, il garantit les propriétaires de la plateforme contre tous recours
        fondés directement ou
        indirectement sur ces propos et son contenu utilisateur, susceptibles d’être intentés par quiconque à l’encontre
        des propriétaires de la plateforme.<br>
        Il s’engage en particulier à prendre en charge le paiement des sommes, quelles qu’elles soient, résultant du
        recours d'un tiers à l'encontre de la plateforme <strong class="name">wildXchange</strong>, y compris les honoraires d’avocat et frais de
        justice.
        <strong class="name">wildXchange</strong> ne peut garantir l'exactitude ou la pertinence des informations publiées sur la plateforme. Ces
        informations mises à disposition sur la plateforme le sont uniquement à titre purement informatif et ne
        sauraient
    constituer en aucun cas un conseil ou une recommandation de <strong class="name">wildXchange</strong> de quelque nature que ce soit.
        L’utilisateur est pleinement responsable de la vérification des informations qu’il recueille sur la plateforme.
        En conséquence, l'utilisation des informations et des contenus disponibles sur la plateforme,
        ne sauraient en aucun cas engager la responsabilité de Futura-Sciences.<br>
        L'inscription sur la plateforme nécessite l'utilisation d'un identifiant et d'un mot de passe choisi par
        l’utilisateur. Ce mot de passe est personnel et confidentiel. L'utilisateur s'engage à le conserver secret et à
        ne pas le divulguer. L'utilisation de son identifiant et de son mot de passe à travers Internet se fait aux
        risques et périls de l'utilisateur. Il appartient à l'utilisateur de prendre toutes les dispositions nécessaires
        permettant de protéger ses propres données.
    Les administrateurs de <strong class="name">wildXchange</strong> se réserve le droit de modifier les termes, conditions et mentions de la
        présente charte à tout
        moment sans avis préalable. Il est donc conseillé aux utilisateurs de consulter régulièrement la dernière
        version de cette charte disponible sur le site.</p>

    <h2>Mentions légales</h2>
    <p>Cet espace est destiné à vous permettre d'apporter votre contribution aux échanges . Les données qui y figurent ne peuvent être collectées ou utilisées à d'autres fins.
        Un modérateur est susceptible de supprimer, a posteriori, toute contribution qui ne serait pas en relation avec
        le thème de discussion abordé, la ligne éditoriale du site, ou qui serait contraire à la loi.
        Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous
        concernent <strong class="bold">(art. 34 de la loi "Informatique et Libertés" du 6 janvier 1978)</strong>. Vous pouvez, à tout moment,
        demander à ce que les informations vous concernant soient supprimées.</p>

    <h2>Loi applicable et juridiction</h2>
    <p>Seul le droit français est applicable, en cas de litige, compétence exclusive au Tribunal de Grande Instance de
        Draguignan, même en cas de pluralité de défendeurs, la SARL Futura-Sciences se réservant toutefois la faculté de
        saisir si elle préfère tout autre tribunal compétent.</p>

{% endblock %}