{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Contact {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block content %}
    <h1>Nous contacter</h1>
{% endblock %}