{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Dashboard {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dash.css') }}">
{% endblock %}

{% block content %}
    <!--begin content container and row-->
<div class="container">
    <div class="row">
        <!--begin left column-->
        <div class="col s9">
            <div class="row user">
<div class="col s5">
    <img src="../img/fosuser.jpg" id="avatar" alt="Qui est ton pot?" class="circle image-responsive">
</div>
                <div class="col s7">
                    <h1>UserName</h1>
                </div>
            </div>
            <div class="row infos">
                <div class="col s6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">infos generales</span>
                            <p><em>4</em>  questions posees</p>
                            <p><em>4</em> reponses donnees</p>
                            <p><em>4</em> meilleures reponses</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">stats</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">competences</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">achievements</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--end left column-->
        </div>
        <!--begin right column-->
        <div class="col s3">

            <!--end right column-->
        </div>

        <!--end content container and row-->
    </div>
</div>


{% endblock %}