{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    F.A.Q. {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block content %}
    <h1>F.A.Q.</h1>
{% endblock %}