{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class='container'>
            <div class='row' id='lvl1'>
            </div>
            <div class='row' id='lvl2'>
            </div>
            <!---Begin search bar-->
            <div class='row lvl3'>
                <div class="col s12 m4 l8 offset-s2">
                    <div class= 'nav-wrapper search hoverable'>
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!---endsearch bar-->
            <div class='row lvl4'>
            </div>
            <!-- end page-content container -->
        </div>
    </main>
{% endblock %}