{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class='container'>
            <div class='row' id='lvl1'>
            </div>
            <!---Begin search bar-->
            <div class='row lvl3'>
                <div class="col s12 m8 l8 offset-s2">
                    <div class='nav-wrapper search hoverable'>
                            <div class="input-field" id="search">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        <div class="section scrollspy">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Ajoute des tags?</div>
                                    <div class="collapsible-body" id="chipBody">
                                        <div class="chips chips-autocomplete"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---end search bar-->
            <div class='row lvl4'>
                <div class="col s12 m8 l8 offset-s2">


            </div>
            </div>
            <!-- end page-content container -->
        </div>
    </main>
{% endblock %}