{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block content %}
    <main>
        <!-- begin page-content container -->
        <div class='container'>
            <div class='row'>
                <!-- begin left content column -->
                <div class="col s8">
                    <!--begin question input form -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="question_titre" type="text" class="validate">
                            <label for="question_titre">Question?</label>
                        </div>
                        <!--end question input form -->
                    </div>
                    <!--begin text input form-->
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">First Name</label>
                                </div>
                            </div>
                        </form>
                        <!--end text input form-->
                </div>
                    <!--end left content column-->
            </div>
                <!--begin user info column-->
            <div class="col s4">

                    <!--end user info column-->
            </div>
        </div>
            <!-- end page-content container -->
        </div>
    </main>
{% endblock %}