{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    Inscription {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}"
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <h4 class="center-align">Inscrivez-vous sur la plateforme wildXchange </h4>
        <div class="row">
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('JS/register.js') }}"></script>
{% endblock %}