<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} @ wildXchange{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# Feuilles de style Materialize #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    {# Fonts de Materialize et de la charte graphique #}
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    {# Fonts de Font Awesome et de la charte graphique #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Se connecter avec Github</a></li>
    <li><a href="#!">Se connecter avec wXc</a></li>
    <li class="divider"></li>
    <li><a href="#!">S'inscrire</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="left brand-logo black-text" id="logo">
            <img src="{{ asset('img/logo1.png') }}">
        </a>
        <a href="#!" class="center brand-logo white-text" id="title">
            <h3>wild<span class="special-x">X</span>change</h3>
        </a>

        <a href="#!" data-activates="xnav" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-link">
            <li><a href="">Ressources</a></li>
            <li><a href="">Questions / Réponses</a></li>
            <li id="dropdown"><a class="dropdown-button" href="#!" data-activates="dropdown1">Se connecter / S'inscrire<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s4 white-text">
                <p>Copyright WCS
                    <br>
                    Made with ♥ by Wild Code School</p>
            </div>
            <div class="col s4 white-text">
                <ul>
                    <li><a href="{{ path('x_team_platform_charte') }}">Charte collaborative</a></li>
                    <li>FAQ</li>
                    <li>Nous contacter</li>
                </ul>
            </div>
            <div id="icons" class="col s4">
                <a href="https://www.facebook.com/wildcodeschool" target="_blank"><i class="fa fa-facebook small"></i></a>
                <a href="https://fr.linkedin.com/edu/wild-code-school-192048" target="_blank"><i class="fa fa-linkedin small"></i></a>
                <a href="https://twitter.com/wildcodeschool?lang=en" target="_blank"><i class="fa fa-twitter small"></i></a>
                <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" target="_blank"><i class="fa fa-youtube small"></i></a>
                <a href="https://www.instagram.com/wildcodeschool/" target="_blank"><i class="fa fa-instagram small"></i></a>
                <a href="https://github.com/WildCodeSchool" target="_blank"><i class="fa fa-github small"></i></a>
            </div>
        </div>
    </div>
</footer>

{# Scripts Materialize #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

<script src='JS/qr.js'></script>
</body>

</html>