
/* MAIN CONTENT
=============== */
main {
    flex: 1 0 auto; /*For the sticky footer*/
    /*background-image: url("../img/infographie_big.jpg");*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position-y: -53px;
}

#lvl1 {
    height: 5em;
}

#lvl2 {
    height: 22em;
}

.nav-wrapper.search {
    background-color: #ffffff !important;
}

/* CONTACT
===========*/

.card {
    margin:5px;
    width:350px;
    float:left;
}

/* CHARTE
===========*/

p


