main {
    flex: 1 0 auto; /*For the sticky footer*/
}

html {
    background: url("../img/backgroundbw.png") no-repeat center center fixed; /*keeps background image the same size on all screens*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 0px;
}

#lvl1 {
    height: 14em;
}

#lvl4 {
    height: 14em;
}

input#search{
    height: 50px;
    margin: 0 !important;
    background-color: #ffffff !important;
}

#srchBtn{
    margin-left: 44.666667% !important;
}

ul#tagField li {
    opacity: 0;
}

#chipBody {
    height: 45px;
    background-color: white;
}

.chips {
    margin: 0 !important;
}
.noresponse {
    color: #1FA597;
    text-decoration: none;
    font-family: 'Source Sans Pro', Georgia, sans-serif;
    opacity: 1;
    font-weight: bold;
}

#noresp {
    background: white;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
}
#noresp:hover {
    box-shadow: 0 0 15px var(--blue-intense);
}
#count {
    color: var(--orange-intense);
    font-size: larger;
}