/* FEUILLE DE STYLE PERSONNALISEE
********************************* */

/* CHARTE GRAPHIQUE
*******************
>> COLORS
 > ORANGE WILD
 -- Intense : #F9A02E
 -- Pastel : #FBA858
 -- Light : #FFDEA5

 > BLUE WILD
 -- Intense : #1FA597
 -- Pastel : #58C4B8
 -- Light : #80CBC4

 > RED CONTRAST
 -- #B9184D

 > TEXT
 -- Main : #35383A
 -- Secondary : #7B7B7B

 > FONT GREY
 -- #F1F1F1

>> FONTS
 - Titre : Alwyn Regular
 - Sous-titre : Alwyn Bold
 - Paragraphe : Source Sans Pro Regular
 - Paragraphe gras : Source Sans Pro Semi-Bold

   font-family: 'Source Sans Pro', Georgia, sans-serif;
   font-family: 'Alwyn Regular', Georgia, sans-serif;
   font-family: 'Alwyn Bold', Georgia, sans-serif;
*/

@font-face {
    font-family: 'Alwyn Regular';
    src: url(../fonts/alwyn.ttf);
}
@font-face {
    font-family: 'Alwyn Bold';
    src: url(../fonts/alwyn-bold.ttf);
}

h1 {
    font-family: 'Alwyn Regular', Georgia, sans-serif;
}