/* FEUILLE DE STYLE PERSONNALISEE
********************************* */

/* CHARTE GRAPHIQUE
*******************
>> COLORS
 > ORANGE WILD
 -- Intense : #F9A02E
 -- Pastel : #FBA858
 -- Light : #FFDEA5

 > BLUE WILD
 -- Intense : #1FA597
 -- Pastel : #58C4B8
 -- Light : #80CBC4

 > RED CONTRAST
 -- #B9184D

 > TEXT
 -- Main : #35383A
 -- Secondary : #7B7B7B

 > FONT GREY
 -- #F1F1F1             */

:root {
    --orange-intense: #F9A02E;
    --orange-pastel: #FBA858;
    --orange-light: #FFDEA5;
    --blue-intense: #1FA597;
    --blue-pastel: #58C4B8;
    --blue-light: #80CBC4;
    --red-contrast: #B9184D;
    --text-main: #35383A;
    --text-secondary: #7B7B7B;
    --font-grey: #F1F1F1;
}
/*>> FONTS
 - Titre : Alwyn Regular
 - Sous-titre : Alwyn Bold
 - Paragraphe : Source Sans Pro Regular
 - Paragraphe gras : Source Sans Pro Semi-Bold

   font-family: 'Source Sans Pro', Georgia, sans-serif;
   font-family: 'Alwyn Regular', Georgia, sans-serif;
   font-family: 'Alwyn Bold', Georgia, sans-serif;          */

@font-face {
    font-family: 'Alwyn Regular';
    src: url(../fonts/alwyn.ttf);
}
@font-face {
    font-family: 'Alwyn Bold';
    src: url(../fonts/alwyn-bold.ttf);
}

/* STYLES PERSONNALISES
*********************** */
/* GENERALITES
=============== */
html {
    height: 100%;
}
body {
    display: flex;             /*For the sticky footer*/
    min-height: 100%;          /*---------------------*/
    flex-direction: column;    /*---------------------*/
    font-family: 'Source Sans Pro', Georgia, sans-serif;
}
h1, h2 {
    font-family: 'Alwyn Regular', Georgia, sans-serif;
}
h3, h4, h5, h6 {
    font-family: 'Alwyn Bold', Georgia, sans-serif;
}

i {
    margin-left: 0.5px !important;
}

/* BARRE DE NAVIGATION
====================== */
nav {
    background-color: var(--orange-intense) !important;
    height: 70px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    padding: 0 20px 0 50px;
}

nav ul li a {
    color: #FFFFFF;
}

#logo {
    left: 2%;
}

#logoText {
    left: 6.2%;
}

#logo img{
    width: 1.7em;
    margin-bottom: -15px;
}
#logo_baby img{
    width: 0.6em;
    margin-bottom: -10px;
    margin-left: -45px;
}

#title h3 {
    color: white;
    display: inline-block;
}

h3 {
    margin: 0.46rem 0 1.168rem 0 !important;
    color: white;
}

.special-x {
    color: var(--text-secondary) !important;
}

#nav-mobile {
    margin-left: 0em;
    margin-top: 5px;
}

#nav-mobile li {
    padding-left: 1em;
}

span.nav-title {
    padding: 0 !important;
}
.nav-link {
    font-weight: bold;
}
/* MAIN CONTENT
=============== */



/* FOOTER
========= */
footer {
    padding: 1em !important;
    background-color: var(--orange-intense) !important;
}

.page-footer {
    padding: 0 !important;
}

.page-footer a{
    color: #FFF;
}

i {
   margin-left: 22px;
   margin-right: 22px;
}

#icons {
  margin-top: 25px;
}

.layoutavatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 7px;
}
.footer-row {
    margin-bottom: 0;
}
#showcard {
    text-align: center;
}
