/* FEUILLE DE STYLE PERSONNALISEE
********************************* */

/* CHARTE GRAPHIQUE
*******************
>> COLORS
 > ORANGE WILD
 -- Intense : #F9A02E
 -- Pastel : #FBA858
 -- Light : #FFDEA5

 > BLUE WILD
 -- Intense : #1FA597
 -- Pastel : #58C4B8
 -- Light : #80CBC4

 > RED CONTRAST
 -- #B9184D

 > TEXT
 -- Main : #35383A
 -- Secondary : #7B7B7B

 > FONT GREY
 -- #F1F1F1             */

:root {
    --orange-intense: #F9A02E;
    --orange-pastel: #FBA858;
    --orange-light: #FFDEA5;
    --blue-intense: #1FA597;
    --blue-pastel: #58C4B8;
    --blue-light: #80CBC4;
    --red-contrast: #B9184D;
    --text-main: #35383A;
    --text-secondary: #7B7B7B;
    --font-grey: #F1F1F1;
}
/*>> FONTS
 - Titre : Alwyn Regular
 - Sous-titre : Alwyn Bold
 - Paragraphe : Source Sans Pro Regular
 - Paragraphe gras : Source Sans Pro Semi-Bold

   font-family: 'Source Sans Pro', Georgia, sans-serif;
   font-family: 'Alwyn Regular', Georgia, sans-serif;
   font-family: 'Alwyn Bold', Georgia, sans-serif;          */

@font-face {
    font-family: 'Alwyn Regular';
    src: url(../fonts/alwyn.ttf);
}
@font-face {
    font-family: 'Alwyn Bold';
    src: url(../fonts/alwyn-bold.ttf);
}

/* STYLES PERSONNALISES
*********************** */
/* GENERALITES
=============== */
html {
    height: 100%;
}
body {
    display: flex;             /*For the sticky footer*/
    min-height: 100%;          /*---------------------*/
    flex-direction: column;    /*---------------------*/
    font-family: 'Source Sans Pro', Georgia, sans-serif;
}
h1, h2 {
    font-family: 'Alwyn Regular', Georgia, sans-serif;
}
h3, h4, h5, h6 {
    font-family: 'Alwyn Bold', Georgia, sans-serif;
}

/* BARRE DE NAVIGATION
====================== */
nav {
    background-color: var(--orange-intense) !important;
}

nav.nav-wrapper {
    position: relative;
    height: 100%;
}

nav ul li a {
    color: #FFFFFF;
}

#logo {
    left: 2%;
}

#logo img{
    width: 1.7em;
    margin-bottom: -4px;
}

nav .brand-logo.center {
    left: 29% !important;
}

#title h3 {
    color: #FFFFFF;
    display: inline-block;
}

h3 {
    margin: 0.46rem 0 1.168rem 0 !important;
}

.special-x {
    color: var(--text-secondary) !important;
}

#nav-mobile li {
    padding-left: 1em;
}

span.nav-title {
    padding: 0 !important;
}
.nav-link {
    font-weight: bold;
}
/* MAIN CONTENT
=============== */
main {
    flex: 1 0 auto; /*For the sticky footer*/
    width: 100%;
}

@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

.usrCol {
    border:1px solid black;
    margin-top: 3em;
    padding-right:3em;
}

.qForm {
margin-top: 2em;
}

.rightCol {
    padding-top: 3em;
    float: right  !important;
}

.infoCol {
    border:1px solid black;
    background-color: #FFDEA5;
    position: relative;
    margin-top: 3em;
}

/* PushPin Element Styling
========= */
/*Class for when element is above threshold*/
   .pin-top {
       position: relative;
   }

/* Class for when element is below threshold */
   .pin-bottom {
       position: relative;
   }

/* Class for when element is pinned*/
   .pinned {
       position: fixed !important;
   }


/* FOOTER
========= */
footer {
    padding: 1em !important;
    background-color: var(--orange-intense) !important;
}

.page-footer {
    padding: 0 !important;
}

i {
   margin-left: 8px;
   margin-right: 8px;
}

#icons {
  margin-top: 25px;
}

#icons {
    margin-top: 25px;
}
