/* MAIN CONTENT
=============== */

@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

#counter {
    height: 3em;
    width: 3em;
}

.usrCol {
    margin-top: 3em;
    padding-right:3em;
}


.response_block{
    border:1px solid #ccd3e8;
    border-radius: 10px;
    background-color: var(--blue-light);
    margin-bottom: 20px;
    border: 1px solid var(--blue-intense);
    box-shadow: 2px 2px 1px var(--blue-light);

}

.fabbtn-wrapper{
    position: relative;
    height: 40px;
}

#fabBtn {
    position: absolute;
    display: inline-block;
    right: 4em;
    top: 0em;
}

#response.qr{
margin-top: 3em;
}

#commentaire {
    margin-top: 50px;
}

p.comments {
    font-size: 9px;
}

#formSpacer {
    margin-top: 50px;
}

.dividerMargin {
    margin: 3em 0;
}

.rightCol {
    padding-top: 3em;
    float: right  !important;
}

.infoCol {
    border:1px solid black;
    background-color: #FFDEA5;
    margin-top: 3em;
    width: 20em !important;
}

/* PushPin Element Styling
========= */
/*Class for when element is above threshold*/
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned*/
.pinned {
    position: fixed !important;
}
.chip {
    background-color: #1FA597;
    font-family: 'Source Sans Pro', Georgia, sans-serif;
    color: white;
}

#searchBtnshow {
    height: 25px;
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
}

#showcard {
    text-align: center;
}

/* FLASH MESSAGES
=============== */

.flash-message {
    top: 100px;
    right: 50%;
    text-align: center;
}

#categories li a{
    color: var(--orange-intense);
}
.indicator {
    background-color: var(--orange-intense) !important;
}
.question_block {
    margin-top: 20px;
    border: 1px solid var(--orange-intense);
    border-radius: 3px;
    box-shadow: 2px 2px 1px var(--orange-light);
    background-color: var(--orange-light);
}

.question_block .row {
    margin: 0
}
.question_block .chip {
    margin: 5px 5px 5px 0;
    background-color: var(--blue-light);
    color: var(--text-main);
}
.question_block a {
    color: var(--text-main);
}
#poucevert {
    width: 30px;
    margin-top: 10px;
}
.question_block h6 {
    margin-top: 15px;
    font-size: 16px;
}

#avatar {
    margin-top: 10px;
    width: 60px;
}