/* MAIN CONTENT
=============== */
main {
    flex: 1 0 auto; /*For the sticky footer*/
    width: 100%;
}

@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

.avatar {
    max-height: 100%;
    height: 6em;
    width: 6em;
}

#karmabtn {
    margin: 1em 2em;
}

#counter {
    height: 3em;
    width: 3em;
    margin-left: 10px;
}

.usrCol {
    margin-top: 3em;
    padding-right:3em;
}

.question_block{
    border:1px solid #f7f0a3;
    border-radius: 10px;
    background-color: #f7f0a3;
    margin-bottom: 20px;
}

.response_block{
    border:1px solid #ccd3e8;
    border-radius: 10px;
    background-color: #ccd3e8;
    margin-bottom: 20px;
}

.fabbtn-wrapper{
    position: relative;
    height: 40px;
}

#fabBtn {
    position: absolute;
    display: inline-block;
    right: 4em;
    top: 0em;
}

#response.qr{
margin-top: 3em;
}

#commentaire {
    margin-top: 50px;
}

#formSpacer {
    margin-top: 50px;
}

.dividerMargin {
    margin: 3em 0;
}

.rightCol {
    padding-top: 3em;
    float: right  !important;
}

.infoCol {
    border:1px solid black;
    background-color: #FFDEA5;
    margin-top: 3em;
    width: 20em !important;
}

/* PushPin Element Styling
========= */
/*Class for when element is above threshold*/
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned*/
.pinned {
    position: fixed !important;
}
